<div class="container">

      <div class="card-columns">
        <div class="card"  style="background-color: #c62828 ; margin: 10px">
          <div class="card-body text-center">

            <i class="fas fa-ambulance fa-3x" style="color: white"></i>
            <hr>
            <p style="font-size: 20px; color: white">	Local Total Cases</p>
            <span style="font-size: 50px; text-align: center; color: white">{{data.data.local_total_cases}}</span>
          </div>
        </div>
        <div class="card " style="background-color: #ff8f00; margin: 10px">
          <div class="card-body text-center">

            <i class="fas fa-procedures fa-3x" style="color: white"></i>
            <hr>
            <p style="font-size: 20px; color: white">	Local Deaths </p>
            <span style="font-size: 50px; text-align: center; color: white">{{data.data.local_deaths}}</span>

          </div>
        </div>
        <div class="card" style="background-color:#64dd17; margin: 10px">
          <div class="card-body text-center">

            <i class="fas fa-walking fa-3x " style="color: white"></i>
            <hr>
            <p style="font-size: 20px; color: white">Local Recovered</p>
            <span style="font-size: 50px; text-align: center ; color: white">{{data.data.local_recovered}}</span>
          </div>
        </div>
      </div>

    </div>


